html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.body {
  width: 100%;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 10px;
  background: black;
}

::-webkit-scrollbar-thumb {
  background: -webkit-gradient(linear, left top, left bottom, from(#ffb938), color-stop(#ff6141), to(#ffb938));
  background: linear-gradient(#ffb938, #ff6141, #ffb938);
  border-radius: 6px;
  height: 150px;
}

::-webkit-scrollbar-thumb:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#ff6141), to(#ffb938));
  background: linear-gradient(#ff6141, #ffb938);
}

.scroll-top {
  width: 50px;
  height: 50px;
  background: transparent;
  color: #ff6141;
  border: 2px solid #ff6141;
  border-radius: 50px;
  text-align: center;
  position: fixed;
  z-index: 99;
  bottom: 10px;
  right: 20px;
  display: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.scroll-top i {
  font-size: 30px;
  margin-top: 8px;
}

.scroll-active {
  display: block;
}

.home-button {
  width: 60px;
  height: 60px;
  text-align: center;
  border-radius: 50px;
  -webkit-box-shadow: 0 0 30px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 30px 2px rgba(0, 0, 0, 0.3);
  position: fixed;
  z-index: 10;
  color: #000;
  background: #fff;
  top: 20px;
  right: 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.home-button i {
  font-size: 21px;
  margin-top: 19px;
}

.home-button:hover {
  background: #000;
  color: #fff;
}

.header {
  background-image: url(../images/main-website/header-background.svg);
  background-size: 100%;
  width: 100%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_text h1 {
  margin: 0;
  font-size: 100px;
  color: #fff;
}

@media screen and (max-width: 550px) {
  .header_text h1 {
    font-size: 60px;
  }
}

.header_img img {
  width: 500px;
}

.content {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.content .lesson {
  width: 70%;
  font-family: Arial;
}

.content .menu {
  width: 350px;
  position: relative;
}

.content .menu ul {
  overflow-y: scroll;
  height: 100vh;
  margin-top: 0;
}

.content .menu ul h2 {
  background: -webkit-gradient(linear, left top, right top, from(#ff6141), to(#ff38c8));
  background: linear-gradient(90deg, #ff6141 0%, #ff38c8 100%);
  border-radius: 20px 0 0 20px;
  padding: 7px 0 7px 20px;
  color: #fff;
}

.content .menu ul li {
  text-align: right;
  margin-right: 10px;
  list-style: none;
  margin-bottom: 20px;
}

.content .menu ul li a {
  text-decoration: none;
  color: #000;
  -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  border-radius: 30px;
  border: 1px solid #ff6141;
  line-height: 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: #fff;
}

.content .menu ul li a:hover {
  text-align: center;
  background: #ff6141;
  margin-right: 10px;
  color: #fff;
}

.content .menu .sticky {
  position: fixed;
  height: 100vh;
  top: 0;
  width: 310px;
}

.content .menu .sticky li {
  margin-left: 70px;
}

.content .menu .active {
  text-align: center;
  background: #ff6141;
  margin-right: 10px;
  color: #fff;
}

.content h1 {
  color: #ff6141;
  font-size: 35px;
  margin-top: 18px;
}

.content ul li {
  line-height: 25px;
}

.content .html-back {
  background-color: rgba(223, 223, 223, 0.6);
  padding: 30px;
  margin-top: 30px;
  border-radius: 7px;
  font-family: Arial;
}

.content .html-back .code-doc {
  background-color: #fff;
  border-left: 3px solid #ff6141;
}

.content .html-back .code-doc p {
  color: brown;
  padding: 10px;
  line-height: 23px;
}

.content .html-back .code-doc span {
  color: blue;
}

.content .html-back button {
  background: #ff6141;
  color: #fff;
  padding: 10px 20px 10px 20px;
  border: 2px solid #ff6141;
  border-radius: 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin-top: 10px;
}

.content .html-back button:hover {
  background: #fff;
  color: #000129;
}

.content .html-end {
  margin-top: 45px;
}

.content .html-end a {
  background-color: rgba(255, 97, 65, 0.5);
  color: #000;
}

.content .html-end h2 {
  margin-bottom: 25px;
}

.content .html-el {
  margin-top: 50px;
}

.content .html-el h2 {
  margin-bottom: 30px;
}

.content .html-tab table {
  width: 700px;
  margin-top: 50px;
}

.content .html-tab td {
  border-bottom: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.content .html-tab th {
  border-bottom: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.content .note {
  background-color: khaki;
  width: 800px;
  color: black;
  padding: 10px 10px 3px 10px;
  margin-top: 50px;
  margin-left: -25px;
}

.content .html-web h2 {
  margin-top: 50px;
  margin-bottom: 30px;
}

.content .table td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  border-collapse: collapse;
}

.content .table th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  border-collapse: collapse;
}

.content .code-doc form input {
  padding: 7px;
}

.content .code-doc form label {
  margin-top: 15px;
}

.content table tr {
  height: 40px;
}

.mobile-menu {
  display: none;
}

@media screen and (max-width: 1200px) {
  .mobile-menu {
    display: block;
  }
  .menu {
    display: none;
  }
  .home-button {
    display: none;
  }
  .mob-home-but {
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50px;
    -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
    position: fixed;
    color: #000;
    z-index: 12;
    background: #fff;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    margin-right: 50px;
    top: 17px;
    right: 40px;
  }
  .mob-home-but i {
    font-size: 18px;
    margin-top: 15px;
  }
  .mob-menu-but {
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 50px;
    -webkit-box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.2);
    position: fixed;
    z-index: 10;
    color: #000;
    background: #fff;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    top: 10px;
    right: 20px;
  }
  .mob-menu-but i {
    font-size: 21px;
    margin-top: 19px;
  }
  .mob-menu {
    position: fixed;
    z-index: 9999999;
    width: 0;
    height: 100vh;
    background: #fff;
    color: #ff6141;
    overflow: hidden;
    border-radius: 0 10px 10px 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .mob-menu ul {
    margin-left: 20px;
    width: 200px;
  }
  .mob-menu li {
    line-height: 30px;
  }
  .mob-menu a {
    color: #000;
    text-decoration: none;
  }
  .mob-menu .mob-icons {
    color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 10px;
  }
  .mob-menu .mob-icons i {
    font-size: 17px;
  }
  .mob-menu .mob-icons .fa-xmark {
    font-size: 27px;
    margin-right: 20px;
  }
  .mob-menu .mob-icons .fa-house {
    margin-left: 20px;
    background: #ff6141;
    color: #fff;
    padding: 8px 7px;
    border-radius: 30px;
  }
  .but-active {
    width: 280px;
    -webkit-box-shadow: 0 0 30px 15px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 30px 15px rgba(0, 0, 0, 0.2);
  }
}

@media screen and (max-width: 1024px) {
  .page-main-title .video video {
    width: 250%;
  }
  .html-web img {
    width: 700px;
  }
  #p8 img {
    width: 710px;
  }
}

@media screen and (max-width: 768px) {
  .content .lesson {
    width: 90%;
  }
  .content .lesson p {
    font-size: 14px;
  }
  .content .lesson tr {
    font-size: 14px;
  }
  .content .lesson td {
    font-size: 14px;
  }
  .content .html-tab table {
    width: 500px;
  }
  .content .note {
    width: 500px;
  }
  .content .note p {
    font-size: 13px;
  }
  .content .html-back .code-doc p {
    font-size: 12px;
  }
  .html-web img {
    width: 500px;
  }
  #p8 img {
    width: 510px;
  }
}

@media screen and (max-width: 768px) and (max-width: 425px) {
  .content .lesson {
    width: 90%;
  }
  .content .lesson p {
    font-size: 13px;
  }
  .content .lesson tr {
    font-size: 10px;
    height: 20px;
    padding: 2px;
  }
  .content .lesson td {
    font-size: 10px;
    height: 20px;
    padding: 2px;
  }
  .content .lesson li {
    font-size: 12px;
  }
  .content .html-tab table {
    width: 310px;
  }
  .content .note {
    width: 300px;
  }
  .content .note p {
    font-size: 12px;
  }
  .content .html-back .code-doc p {
    font-size: 12px;
  }
  .html-web img {
    width: 300px;
  }
  #p8 img {
    width: 310px;
  }
}
/*# sourceMappingURL=htmlstyle.css.map */